

<!DOCTYPE html>
<html>

<style type="text/css">
  .center {
     margin: 0 auto;
     width: 900px; 
}

</style>

<head>
	
	<title>PAGE TEAM</title>
</head>
<body>

</br>
</br>

<div class="center">
	<h1> Voici la team à l'origine de ce magnifique site: </h1>
	</br>
    <img src="https://static1.ozap.com/articles/2/41/87/92/@/4242840-les-tuche-620x0-1.jpg" alt="les tuche">
	</br>
	</br>
    <p> Avoue, tu ne t'attendais pas à ce qu'ils fassent THP.</p>

</div>
</body>
</html>
